In [17]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv("../datasets/metadata_clean.csv")

In [19]:
df.head()

,title,genres,release_date,runtime,vote_average,vote_count
0,Toy Story,"['Animation', 'Comedy', 'Family']",1995,81.0,7.7,5415.0
1,Jumanji,"['Adventure', 'Fantasy', 'Family']",1995,104.0,6.9,2413.0
2,Grumpier Old Men,"['Romance', 'Comedy']",1995,101.0,6.5,92.0
3,Waiting to Exhale,"['Comedy', 'Drama', 'Romance']",1995,127.0,6.1,34.0
4,Father of the Bride Part II,['Comedy'],1995,106.0,5.7,173.0

In [20]:
df.shape

(45466, 6)

In [21]:
original_df = pd.read_csv("../datasets/movies_metadata.csv")

/tmp/ipykernel_60687/2020929906.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  original_df = pd.read_csv("../datasets/movies_metadata.csv")

In [22]:
df["overview"] = original_df["overview"]

In [23]:
df["id"] = original_df["id"]

In [24]:
df.head()

,title,genres,release_date,runtime,vote_average,vote_count,overview,id
0,Toy Story,"['Animation', 'Comedy', 'Family']",1995,81.0,7.7,5415.0,"Led by Woody, Andy's toys live happily in his ...",862
1,Jumanji,"['Adventure', 'Fantasy', 'Family']",1995,104.0,6.9,2413.0,When siblings Judy and Peter discover an encha...,8844
2,Grumpier Old Men,"['Romance', 'Comedy']",1995,101.0,6.5,92.0,A family wedding reignites the ancient feud be...,15602
3,Waiting to Exhale,"['Comedy', 'Drama', 'Romance']",1995,127.0,6.1,34.0,"Cheated on, mistreated and stepped on, the wom...",31357
4,Father of the Bride Part II,['Comedy'],1995,106.0,5.7,173.0,Just when George Banks has recovered from his ...,11862

In [25]:
df.shape

(45466, 8)

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [27]:
tfdif = TfidfVectorizer(stop_words="english")

In [28]:
df["overview"] = df["overview"].fillna("")

In [29]:
tfdif_matrix = tfdif.fit_transform(df["overview"])

In [30]:
tfdif_matrix

<45466x75827 sparse matrix of type '<class 'numpy.float64'>'
	with 1210882 stored elements in Compressed Sparse Row format>

In [31]:
from sklearn.metrics.pairwise import linear_kernel

In [32]:
cosine_sim = linear_kernel(tfdif_matrix, tfdif_matrix)

In [35]:
cosine_sim.shape

(45466, 45466)

In [36]:
indices = pd.Series(df.index, index=df['title']).drop_duplicates()

In [37]:
def recommender(title):
    index = indices[title]
    sim_scores = list ( enumerate( cosine_sim[index] ) )
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return df['title'].iloc[movie_indices]

In [38]:
recommender("The Lion King")

34682    How the Lion Cub and the Turtle Sang a Song
9353                                The Lion King 1½
9115                  The Lion King 2: Simba's Pride
42829                                           Prey
25654                                 Fearless Fagan
17041                                   African Cats
27933              Massaï, les guerriers de la pluie
6094                                       Born Free
37409                                     Sour Grape
3203                                The Waiting Game
Name: title, dtype: object

In [21]:
df.head()

,title,genres,release_date,runtime,vote_average,vote_count,overview,id
0,Toy Story,"['Animation', 'Comedy', 'Family']",1995,81.0,7.7,5415.0,"Led by Woody, Andy's toys live happily in his ...",862
1,Jumanji,"['Adventure', 'Fantasy', 'Family']",1995,104.0,6.9,2413.0,When siblings Judy and Peter discover an encha...,8844
2,Grumpier Old Men,"['Romance', 'Comedy']",1995,101.0,6.5,92.0,A family wedding reignites the ancient feud be...,15602
3,Waiting to Exhale,"['Comedy', 'Drama', 'Romance']",1995,127.0,6.1,34.0,"Cheated on, mistreated and stepped on, the wom...",31357
4,Father of the Bride Part II,['Comedy'],1995,106.0,5.7,173.0,Just when George Banks has recovered from his ...,11862

In [22]:
df.to_csv("../datasets/metadata_clean.csv")