In [1]:
import pandas as pd
import numpy as np

In [2]:
credits = pd.read_csv("../datasets/credits.csv")
keywords = pd.read_csv("../datasets/keywords.csv")

In [3]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [4]:
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [5]:
df = pd.read_csv("../datasets/metadata_clean.csv")

In [6]:
credits.shape

(45476, 3)

In [7]:
keywords.shape

(46419, 2)

In [8]:
df.shape

(45466, 9)

In [9]:
df["id"] = df["id"].astype(int)

ValueError: invalid literal for int() with base 10: '1997-08-20'

In [10]:
def clean_id(x):
    try:
        return int(x)
    except:
        return np.nan

In [11]:
df["id"] = df["id"].apply(clean_id)

In [12]:
df = df[df["id"].notnull]

TypeError: Series.notnull() takes 1 positional argument but 2 were given