In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv("../datasets/movies_metadata.csv")

/tmp/ipykernel_25847/1873943821.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../datasets/movies_metadata.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [7]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [51]:
m = df["vote_count"].quantile(0.98)

In [52]:
m

1236.8199999999997

In [59]:
reasonably_long = df[(df["runtime"] > 45) & (df["runtime"] < 300)]

In [60]:
reasonably_long.shape

(41854, 24)

In [61]:
reasonably_voted = df[df["vote_count"] > m]

In [62]:
reasonably_voted.shape

(910, 24)

In [65]:
avg = reasonably_voted["vote_average"].mean()

In [66]:
avg

6.821868131868132

In [67]:
def weighted_rating(x, m=m, avg=avg):
    v = x["vote_count"]
    R = x["vote_average"]
    return (v/(v+m) * R) + (m/(m+v) * avg)

In [68]:
reasonable = reasonably_voted.copy()

In [69]:
reasonable['score'] = reasonable.apply(weighted_rating, axis=1)

In [70]:
reasonable.shape

(910, 25)

In [71]:
reasonable.sort_values("score", ascending=False)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,score
314,False,NaN,25000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,278,tt0111161,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,...,2.834147e+07,142.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fear can hold you prisoner. Hope can set you f...,The Shawshank Redemption,False,8.5,8358.0,8.283680
834,False,"{'id': 230, 'name': 'The Godfather Collection'...",6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.thegodfather.com/,238,tt0068646,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",...,2.450664e+08,175.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An offer you can't refuse.,The Godfather,False,8.5,6024.0,8.214144
12481,False,"{'id': 263, 'name': 'The Dark Knight Collectio...",185000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://thedarkknight.warnerbros.com/dvdsite/,155,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,...,1.004558e+09,152.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Why So Serious?,The Dark Knight,False,8.3,12269.0,8.164637
2843,False,NaN,63000000,"[{'id': 18, 'name': 'Drama'}]",http://www.foxmovies.com/movies/fight-club,550,tt0137523,en,Fight Club,A ticking-time-bomb insomniac and a slippery s...,...,1.008538e+08,139.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Mischief. Mayhem. Soap.,Fight Club,False,8.3,9678.0,8.132505
292,False,NaN,8000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",NaN,680,tt0110912,en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",...,2.139288e+08,154.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Just because you are a character doesn't mean ...,Pulp Fiction,False,8.3,8670.0,8.115462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20447,False,"{'id': 1570, 'name': 'Die Hard Collection', 'p...",92000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://www.diehardmovie.com/,47964,tt1606378,en,A Good Day to Die Hard,"Iconoclastic, take-no-prisoners cop John McCla...",...,3.046542e+08,98.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Yippee Ki-Yay Mother Russia,A Good Day to Die Hard,False,5.2,3519.0,5.621790
21018,False,NaN,130000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,82700,tt1815862,en,After Earth,One thousand years after cataclysmic events fo...,...,2.438431e+08,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Danger is real, fear is a choice",After Earth,False,5.0,2579.0,5.590521
30556,False,"{'id': 304378, 'name': 'Independence Day Colle...",165000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.warof1996.com,47933,tt1628841,en,Independence Day: Resurgence,We always knew they were coming back. Using re...,...,3.896819e+08,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,We had twenty years to prepare. So did they.,Independence Day: Resurgence,False,4.9,2550.0,5.527705
1491,False,"{'id': 120794, 'name': 'Batman Collection', 'p...",125000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,415,tt0118688,en,Batman & Robin,Along with crime-fighting partner Robin and ne...,...,2.382071e+08,125.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Strength. Courage. Honor. And loyalty.,Batman & Robin,False,4.2,1447.0,5.408270
26563,False,NaN,120000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.fantasticfourmovie.com/,166424,tt1502712,en,Fantastic Four,Four young outsiders teleport to a dangerous u...,...,1.679776e+08,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Change is coming.,Fantastic Four,False,4.4,2322.0,5.241688

In [72]:
reasonable.head(250)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,score
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,7.536723
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,6.873523
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,7.352208
15,False,NaN,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise â€“ Las Vegas ...,...,116112375.0,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343.0,7.331063
31,False,NaN,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,tt0114746,en,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",...,168840000.0,129.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470.0,7.207100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6019,False,NaN,78000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",http://marvel.com/movies/movie/12/daredevil,9480,tt0287978,en,Daredevil,"He dwells in a world of eternal night, but the...",...,179179718.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Guardian Devil,Daredevil,False,5.0,1551.0,5.808274
6195,False,"{'id': 748, 'name': 'X-Men Collection', 'poste...",110000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,36658,tt0290334,en,X2,Professor Charles Xavier and his team of genet...,...,407711549.0,133.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The time has come for those who are different ...,X2,False,6.8,3572.0,6.805624
6221,False,"{'id': 2344, 'name': 'The Matrix Collection', ...",150000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,604,tt0234215,en,The Matrix Reloaded,Six months after the events depicted in The Ma...,...,738599701.0,138.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Free your mind.,The Matrix Reloaded,False,6.7,3500.0,6.731821
6228,False,"{'id': 124949, 'name': 'Almighty Collection', ...",80000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",http://www.brucealmighty.com/,310,tt0315327,en,Bruce Almighty,"Bruce Nolan toils as a ""human interest"" televi...",...,484572835.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In Bruce we trust,Bruce Almighty,False,6.4,3121.0,6.519733
6232,False,"{'id': 137697, 'name': 'Finding Nemo Collectio...",94000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://movies.disney.com/finding-nemo,12,tt0266543,en,Finding Nemo,"Nemo, an adventurous young clownfish, is unexp...",...,940335536.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There are 3.7 trillion fish in the ocean. They...,Finding Nemo,False,7.6,6292.0,7.472170

In [73]:
reasonable = reasonable.set_index("title")

In [74]:
reasonable = reasonable.sort_values("score", ascending=False)

In [75]:
reasonable.head(250)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,video,vote_average,vote_count,score
title,,,,,,,,,,,,,,,,,,,,,
The Shawshank Redemption,False,NaN,25000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,278,tt0111161,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,...,1994-09-23,2.834147e+07,142.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fear can hold you prisoner. Hope can set you f...,False,8.5,8358.0,8.283680
The Godfather,False,"{'id': 230, 'name': 'The Godfather Collection'...",6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.thegodfather.com/,238,tt0068646,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",...,1972-03-14,2.450664e+08,175.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An offer you can't refuse.,False,8.5,6024.0,8.214144
The Dark Knight,False,"{'id': 263, 'name': 'The Dark Knight Collectio...",185000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://thedarkknight.warnerbros.com/dvdsite/,155,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,...,2008-07-16,1.004558e+09,152.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Why So Serious?,False,8.3,12269.0,8.164637
Fight Club,False,NaN,63000000,"[{'id': 18, 'name': 'Drama'}]",http://www.foxmovies.com/movies/fight-club,550,tt0137523,en,Fight Club,A ticking-time-bomb insomniac and a slippery s...,...,1999-10-15,1.008538e+08,139.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Mischief. Mayhem. Soap.,False,8.3,9678.0,8.132505
Pulp Fiction,False,NaN,8000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",NaN,680,tt0110912,en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",...,1994-09-10,2.139288e+08,154.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Just because you are a character doesn't mean ...,False,8.3,8670.0,8.115462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
The Bourne Ultimatum,False,"{'id': 31562, 'name': 'The Bourne Collection',...",70000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",http://www.universalstudiosentertainment.com/t...,2503,tt0440963,en,The Bourne Ultimatum,Bourne is brought out of hiding once again by ...,...,2007-08-03,4.428241e+08,115.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Remember everything. Forgive nothing.,False,7.3,2938.0,7.158350
The Others,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 18, 'nam...",NaN,1933,tt0230600,en,The Others,Grace is a religious woman who lives in an old...,...,2001-08-02,0.000000e+00,101.0,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}, {'is...",Released,"Sooner or later she'll see them, then everythi...",False,7.4,1708.0,7.157185
The Danish Girl,False,NaN,15000000,"[{'id': 18, 'name': 'Drama'}]",NaN,306819,tt0810819,en,The Danish Girl,When Gerda Wegener asks her husband Einar to f...,...,2015-11-27,6.419152e+07,120.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Find the courage to be yourself.,False,7.4,1689.0,7.155609
The Wizard of Oz,False,NaN,2777000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",http://thewizardofoz.warnerbros.com/,630,tt0032138,en,The Wizard of Oz,Young Dorothy finds herself in a magical world...,...,1939-08-15,3.375497e+07,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"We're off to see the Wizard, the wonderful Wiz...",False,7.4,1689.0,7.155609
The Big Short,False,NaN,28000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.thebigshortmovie.com/,318846,tt1596363,en,The Big Short,The men who made millions from a global econom...,...,2015-12-11,1.333465e+08,130.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,This is a true story.,False,7.3,2679.0,7.148981