In [101]:
import pandas as pd
import numpy as np

df = pd.read_csv("../datasets/movies_metadata.csv")

/tmp/ipykernel_107540/4285480368.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../datasets/movies_metadata.csv")

In [102]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [103]:
df = df[["title", "genres", "release_date", "runtime", "vote_average", "vote_count"]]

In [104]:
df.head()

,title,genres,release_date,runtime,vote_average,vote_count
0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1995-10-30,81.0,7.7,5415.0
1,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",1995-12-15,104.0,6.9,2413.0
2,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",1995-12-22,101.0,6.5,92.0
3,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995-12-22,127.0,6.1,34.0
4,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",1995-02-10,106.0,5.7,173.0

In [105]:
df["release_date"] = pd.to_datetime(df["release_date"], errors="coerce")

/tmp/ipykernel_107540/752787924.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["release_date"] = pd.to_datetime(df["release_date"], errors="coerce")

In [106]:
df["release_date"] = df["release_date"].apply(lambda x : str(x).split("-")[0] if x != np.nan else np.nan)

In [107]:
df.head()

,title,genres,release_date,runtime,vote_average,vote_count
0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1995,81.0,7.7,5415.0
1,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",1995,104.0,6.9,2413.0
2,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",1995,101.0,6.5,92.0
3,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995,127.0,6.1,34.0
4,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",1995,106.0,5.7,173.0

In [108]:
def convert_int(x):
    try:
        return int(x)
    except:
        return 0

In [109]:
df["release_date"] = df["release_date"].apply(convert_int)

In [110]:
df.head()

,title,genres,release_date,runtime,vote_average,vote_count
0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1995,81.0,7.7,5415.0
1,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",1995,104.0,6.9,2413.0
2,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",1995,101.0,6.5,92.0
3,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995,127.0,6.1,34.0
4,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",1995,106.0,5.7,173.0

In [111]:
from ast import literal_eval

In [112]:
df["genres"] = df["genres"].apply(literal_eval)

In [113]:
df["genres"]

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45466, dtype: object

In [114]:
df["genres"] = df["genres"].apply(lambda x : [i["name"] for i in x])

In [115]:
df["genres"]

0         [Animation, Comedy, Family]
1        [Adventure, Fantasy, Family]
2                   [Romance, Comedy]
3            [Comedy, Drama, Romance]
4                            [Comedy]
                     ...
45461                 [Drama, Family]
45462                         [Drama]
45463       [Action, Drama, Thriller]
45464                              []
45465                              []
Name: genres, Length: 45466, dtype: object

In [116]:
df.head()

,title,genres,release_date,runtime,vote_average,vote_count
0,Toy Story,"[Animation, Comedy, Family]",1995,81.0,7.7,5415.0
1,Jumanji,"[Adventure, Fantasy, Family]",1995,104.0,6.9,2413.0
2,Grumpier Old Men,"[Romance, Comedy]",1995,101.0,6.5,92.0
3,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,127.0,6.1,34.0
4,Father of the Bride Part II,[Comedy],1995,106.0,5.7,173.0

In [117]:
s = df.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)

/tmp/ipykernel_107540/4105756300.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = df.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)

In [118]:
s.shape

(91106,)

In [119]:
s.name = "genre"

In [120]:
s.shape

(91106,)

In [121]:
df = df.drop('genres', axis=1).join(s)

In [122]:
df.head()

       title  release_date  runtime  vote_average  vote_count      genre
0  Toy Story          1995     81.0           7.7      5415.0  Animation
0  Toy Story          1995     81.0           7.7      5415.0     Comedy
0  Toy Story          1995     81.0           7.7      5415.0     Family
1    Jumanji          1995    104.0           6.9      2413.0  Adventure
1    Jumanji          1995    104.0           6.9      2413.0    Fantasy

In [123]:
df["genre"] = df["genre"].apply(lambda x: str(x).lower())

In [124]:
df.shape

(93548, 6)

In [125]:
df.head()

       title  release_date  runtime  vote_average  vote_count      genre
0  Toy Story          1995     81.0           7.7      5415.0  animation
0  Toy Story          1995     81.0           7.7      5415.0     comedy
0  Toy Story          1995     81.0           7.7      5415.0     family
1    Jumanji          1995    104.0           6.9      2413.0  adventure
1    Jumanji          1995    104.0           6.9      2413.0    fantasy

In [126]:
def ask_user():
    preffered_genre = input("your preffered genre: ")
    lower_duration = int(input("lower limit for duration: "))
    higher_duration = int(input("max limit for duration: "))
    lower_year = int(input("min year: "))
    higher_year = int(input("max year: "))
    return preffered_genre, lower_duration, higher_duration, lower_year, higher_year

In [90]:
result = df.copy()

In [91]:
result = result[(result["genre"] == genre) & 
                (result["runtime"] >= min_dur) & 
                (result["runtime"] <= max_dur) & 
                (result["release_date"] >= min_year) & 
                (result["release_date"] <= max_year)]

In [92]:
result.head()

,title,release_date,runtime,vote_average,vote_count,genre
0,Toy Story,1995,81.0,7.7,5415.0,animation
12,Balto,1995,78.0,7.1,423.0,animation
47,Pocahontas,1995,81.0,6.7,1509.0,animation
235,A Goofy Movie,1995,78.0,6.7,404.0,animation
240,Gumby: The Movie,1995,77.0,5.0,2.0,animation

In [93]:
result.shape

(439, 6)

In [94]:
C = result["vote_average"].mean()

In [95]:
m = result["vote_count"].quantile(0.8)

In [96]:
filtered = result.copy().loc[result["vote_count"] >= m]

In [97]:
filtered['score'] = filtered.apply(lambda x: (x['vote_count']/(x['vote_count']+m)
                                              * x['vote_average']) + (m/(m+x['vote_count']) * C), axis=1)

In [98]:
filtered = filtered.sort_values("score", ascending=False)

In [99]:
filtered.head()

,title,release_date,runtime,vote_average,vote_count,genre,score
9698,Howl's Moving Castle,2004,119.0,8.2,2049.0,animation,7.994823
359,The Lion King,1994,89.0,8.0,5520.0,animation,7.926672
0,Toy Story,1995,81.0,7.7,5415.0,animation,7.637500
6232,Finding Nemo,2003,100.0,7.6,6292.0,animation,7.549423
546,The Nightmare Before Christmas,1993,76.0,7.6,2135.0,animation,7.460500

In [100]:
def recommend(df, percentile):
    genre, min_dur, max_dur, min_year, max_year = ask_user()
    result = df.copy()
    C = result["vote_average"].mean()
    m = result["vote_count"].quantile(percentile)
    filtered = result.copy().loc[result["vote_count"] >= m]
    filtered['score'] = filtered.apply(lambda x: (x['vote_count']/(x['vote_count']+m)
                                              * x['vote_average']) + (m/(m+x['vote_count']) * C), axis=1)
    filtered = filtered.sort_values("score", ascending=False)
    return filtered

In [129]:
df.to_csv("../datasets/metadata_clean.csv", index=False)